.header-social ul li a:hover,
.what-offer-content .owl-controls i:hover,
.service-text-icon:hover .service-title-head, 
.service-text-icon:hover .service-title-head span,
.blue-clr,
.testimonial-slide .owl-next:hover, 
.testimonial-slide .owl-prev:hover,
.blog-single-img-text blockquote:before,
.next-prev-post a:hover, 
.reply-commnet a:hover {
	color: #ef3e96;
}
.blue-bg-clr,
.service-text-icon:hover .service-icon,
ul.tabs li.active,
.music-bg,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>span:focus,
.share-post-list li:hover,
.list-group-item:hover .badge {
	background-color: #ef3e96; 
}

.institute-icon-time,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>span:focus,
.list-group-item:hover .badge {
	border-color: #ef3e96;
}
.work-item:before,
.work-item:after {
	background-color: rgba(239, 62, 150, 0.4);
}
.testimonial-pic:before {
	border-bottom: 250px solid rgba(239, 62, 150, 0.8);
}
.goolge-address {
	background-color: rgba(239, 62, 150, 0.8);
}